.filmCard {
  border-radius: 0;
  width: 487px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: rgb(245, 245, 245);
  box-shadow: 5px 5px 10px rgb(195, 195, 195);
  @media (max-width: 420px) {
    width: 100%;
  }
}

.image {
  background-color: rgb(149, 149, 149);
  width: 183px;
  margin-left: -15px;
  flex-shrink: 0;
  flex-grow: 0;
  @media (max-width: 420px) {
    width: 120px;
    margin-left: -45px;
  }
}

.filmInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  padding: 10px 12px 20px 15px;
  gap: 7px;
  width: 100%;
  @media (max-width: 420px) {
    font-size: 24px;
  }
}

.filmAtributes {
  display: flex;
  justify-content: space-evenly;
}

.filmTags {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 7px;
  width: 210px;
  @media (max-width: 420px) {
    margin-left: -35px;
    width: 700px;
  }
}

.filmRate,
.badFilmRate,
.lowFilmRate,
.middleFilmRate,
.goodFilmRate {
  width: 20px;
  height: 20px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;
  left: 20px
  @media (max-width: 420px) {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}

.badFilmRate {
  border-color: #e90000;
}

.lowFilmRate {
  border-color: #e97e00;
}

.middleFilmRate {
  border-color: #e9d100;
}

.goodFilmRate {
  border-color: #66e900;
}

.starRate {
  display: flex;
  justify-content: end;
}

.filmTilte {
  font-size: 20px;
  @media (max-width: 420px) {
    font-size: 30px;
  }
}

.filmDate {
  color: #827e7e;
}

.filmGenres {
  color: #000000a6;
  display: flex;
  gap: 8px;
}

.genre {
  text-align: start;
  margin: 4px 4px 0 0;
  font-size: 12px;
  line-height: 22px; 
  @media (max-width: 420px) {
    font-size: 20px;
  }
}

.filmDescription {
  max-width: 228px;
  line-height: 22px;
  @media (max-width: 420px) {
    max-width: 100%;
    line-height: 40px;
  }
}
