.filmCard {
  border-radius: 0;
  min-width: 400px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  gap: 20px;
  background-color: rgb(245, 245, 245);
  box-shadow: 5px 5px 10px rgb(175, 175, 175);
}

.image {
    background-color: rgb(45, 45, 45);
    width: 183px;
    height: 281px;
}

.description {

}
