.filmCard {
  border-radius: 0;
  min-width: 400px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: rgb(245, 245, 245);
  box-shadow: 5px 5px 10px rgb(195, 195, 195);
}

.image {
    background-color: rgb(45, 45, 45);
    width: 183px;
    height: 281px;
}

.filmInfo {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    padding: 10px 20px 50px 20px;
    gap: 7px;
}

.cardText {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.filmTilte {
    font-size: 20px;
}

.filmDate {
    color: #827E7E;
}

.filmGenres {
    color: #000000A6;
    display: flex;
    gap: 8px;
}

.genre {
    padding: 2px 4px 3px 5px;
    background-color: #FAFAFA;
    border: 2px solid #D9D9D9;
    border-radius: 3px;
}

.filmDescription {
    max-width: 228px;
    line-height: 22px;
}

