.filmCard {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 454px;
    height: 281px;
    margin: 5px;
    background-color: antiquewhite;
}

.image {
    background-color: burlywood;
    width: 33%;
    height: 100%;
}