.searchInput {
  color: #808080;
  font-size: 1.2em;
  padding: 3px 12px;
  width: 100%;
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 7px;
}

.searchInput::placeholder {
    color: #e2e2e2;
}
